<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.redfellowship">

    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries> <!-- check network permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- check wifi state -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Audio recording permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RedFellowship">
        <activity
            android:name=".LoginMainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:label="NOTIFICATIONS"
            android:parentActivityName=".AcceptorHomePage2" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="PROFILE"
            android:parentActivityName=".AcceptorHomePage2" />
        <activity
            android:name=".BloodBankDetails2"
            android:exported="false"
            android:label="BLOOD BANK DETAILS"
            android:parentActivityName=".BloodBankDetails" />
        <activity
            android:name=".BloodBankDetails"
            android:exported="false"
            android:label="BLOOD BANK DETAILS"
            android:parentActivityName=".AcceptorHomePage2" />
        <activity
            android:name=".SearchDonorByRequester"
            android:exported="false"
            android:label="SEARCH DONOR"
            android:parentActivityName=".AcceptorHomePage2" />
        <activity
            android:name=".AcceptorHomePage2"
            android:exported="false"
            android:label="BLOOD REQUESTER HOME" />
        <activity
            android:name=".LoginRequesterActivity"
            android:exported="false"
            android:label="BLOOD REQUESTER"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignUpRequesterActivity2"
            android:exported="false"
            android:label="BLOOD REQUESTER"
            android:parentActivityName=".LoginRequesterActivity" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.huawei.hms.client.channel.androidMarket"
            android:value="false" />
    </application>

</manifest>